@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Playing the Piano</h1>
    <p>My name is Ben Zapata and one of my favorite hobbies is playing the piano. I've played for over 17 years and the music styles I play range from classical to jazz and movie scores.</p>
    <p>I started learning when I was about 5 years old. I hated it at first and I wanted to quit it so many times, but I am grateful to my mom for forcing me to stay and learn how to play the instrument.</p>
    <p>When I was 13 years old I joined the school of music of my hometown, Antofagasta. There I had the privilege of learning from experienced musicians who helped me improve my technique and develop my musical knowledge.</p>
    <p>I began learning classical music, but today I can play ragtime, jazz, boogie woogie, rock, hymns, movie scores, and other things.</p>
    <img src="~/Images/pianoImage.jpg" />
    <img src="~/Images/piano2.jpg" height="400px"/>
</div>
